@import "../app.less";

.app {
  .banner {
    width: 100%;
    height: 3.9rem;
    background: red;
  }

  .nav {
    position: relative;
    z-index: 10;
    margin: -0.5rem auto 0.38rem auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 6.78rem;
    padding: 0.2rem 0;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0.16rem 0.266667rem 0 rgba(0,0,0,.04);
    border-radius: 0.2rem;
    .nav-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem 0.2rem;
      box-sizing: border-box;
      font-size: 0.23rem;
      color: #333;
      font-family: "iconfont" !important;
      .icon {
        flex-shrink: 0;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background: red;
      }
      .info {
        flex-grow: 1;
        padding-left: 0.14rem;
        box-sizing: border-box;
        overflow: hidden;
        .title {
          font-size: 0.28rem;
          font-weight: 600;
          color: #333;
        }
        .subtitle {
          font-size: 0.15rem;
          color: #888;
        }
      }
    }
  }

  .light-swiper {
    overflow: hidden;
    position: relative;
    height: 3.9rem;
    .swiper-wrap {
      overflow: hidden;
      position: relative;
      .swipe-item {
        float: left;
        width: 100%;
        position: relative;
      }
    }
  }

  .power {
    display: block;
    margin: 0 auto 0.5rem auto;
    border-radius: 2rem;
    overflow: hidden;
    width: 6.78rem;
    height: 1.3rem;
  }

  .pics {
    margin-bottom: 0.38rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    .title {
      display: flex;
      align-items: center;
      margin-bottom: 0.2rem;
      font-size: 0.38rem;
      font-weight: 600;
      color: #333;
      .subtitle {
        padding-left: 0.2rem;
        box-sizing: border-box;
        font-size: 0.15rem;
        color: #888;
      }
    }
    .pic-list {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-row-gap: 0.2rem;
      .pic-item {
        overflow: hidden;
        text-align: center;
        font-size: 0.28rem;
        .pic {
          width: 90%;
          border-radius: 0.25rem;
        }
      }
    }
  }

  .news {
    margin-bottom: 0.2rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.38rem;
      font-weight: 600;
      color: #333;
      .subtitle {
        padding-left: 0.2rem;
        box-sizing: border-box;
        font-size: 0.15rem;
        color: #888;
      }
    }
  }
}